// 通用
.flex-1 {
  flex: 1;
}

.me-text-beyond, .g-single-row {
	/*文本内容超宽度省略号显示 单行*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

/* 两行溢出 */
.g-double-row{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.building-bottom-line::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #333, transparent);
  transform: scaleY(.5);
}

.status-bar {
	width: 100%;
	background: #3A65FF;
}

.building-title1 {
  font-size: 30rpx;
  font-weight: bold;
}



.required {
  padding-left: 10rpx;
  color: red;
  font-size: 24rpx;
}

.no-choose {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 180rpx;
	height: 80rpx;
	line-height: 80rpx;
	text-align: right;
	background: #fff;
  color: #878787;
}

.my-input {
	/* min-width: 240rpx; */
	text-align: right;
	font-size: 28rpx;
	height: 80rpx;
	/* padding-right: 10rpx; */
}

.placeholder {
  color: #878787;
}
/* 页面容器 */
.building-content {
	box-sizing: border-box;
	height: 100%;
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
}

.building-main {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  // margin-bottom: 20rpx;
  overflow: hidden;
  &-side {
    position: relative;
    box-sizing: border-box;
    width: 120rpx;
    height: 100%;
    padding: 20rpx 0 90rpx;
    background: #fff;
    border-right: 2rpx solid #999;
    &-add {
      position: absolute;
      width: 60rpx;
      height: 60rpx;
      left: 30rpx;
      bottom: 20rpx;
      
    }
  }
  &-content {
    box-sizing: border-box;
    flex: 1;
    &-body {
      padding: 40rpx 0;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20rpx;
    }
  }
}

.building-box-1 {
  position: relative;
  height: 80rpx;
  padding: 0 20rpx;
  display: flex;
  justify-content: space-between;
}

.building-box-left {
  line-height: 80rpx;
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.building-box-right {
  display: flex;
  align-items: center;
}

.building-as-btn {
  // width: 120rpx;
  box-sizing: border-box;
  padding: 0 20rpx;
  height: 60rpx;
  text-align: center;
  line-height: 60rpx;
  color: #fff;
  background: #3A65FF;
  border-radius: 10rpx;
}

.building-default {
  color: #3A65FF;
  background: #fff;
  border: 1px solid #ddd;
  line-height: 58rpx;
  margin-right: 20rpx;
}

.building-item-box {
  box-sizing: border-box;
  width: 40%;
  height: 200rpx;
  border: 2rpx solid #999;
  background: #fff;
  border-radius: 10rpx;
  margin: 0 0 20rpx 7%;
  &-title {
    height: 60rpx;
    line-height: 60rpx;
    text-align: center;
    border-bottom: 1rpx solid #999;
  }
}

.building-item-box:nth-child(2n) {
  margin-right: 0;
}


// 表单项
.building-body {
  box-sizing: border-box;
  padding: 30rpx 0 0;
  margin-bottom: 20rpx;
  flex: 1;
  overflow: hidden;
}

.building-input-box,
.building-body-box {
  box-sizing: border-box;
  width: 94%;
  padding: 10rpx 20rpx;
  margin: 0 auto 20rpx;
  background: #fff;
  border-radius: 12rpx;
}


.building-input-item {
  position: relative;
  height: 80rpx;
  line-height: 80rpx;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
  
}

.building-input-item::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #999, transparent);
  transform: scaleY(.5);
}

.building-input-item:last-child::after {
  height: 0;
}

.building-picker-btn {
	min-width: 240rpx;
	text-align: right;
}

.map-box {
  box-sizing: border-box;
  height: 400rpx;
  padding: 10rpx 0;
}

.textarea-box {
  box-sizing: border-box;
  height: 280rpx;
  margin-top: 10rpx;
}

.building-remark {
	box-sizing: border-box;
	padding: 20rpx;
	height: 100%;
	border-radius: 10rpx;
	background: #f5f5f5;
	font-size: 28rpx;
	width: 100%;
}

.building-btn-box {
  position: fixed;
  width: 100%;
  height: 100rpx;
  left: 0;
  bottom: 0;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.building-btn {
  width: 90%;
  height: 80rpx;
  text-align: center;
  line-height: 80rpx;
  color: #fff;
  font-size: 32rpx;
  background: #3A65FF;
  border-radius: 10rpx;
}


// 模态
.building-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  &-box {
    box-sizing: border-box;
    width: 80%;
    max-height: 60%;
    overflow-y: hidden;
    background: #fff;
    border-radius: 10rpx;
    display: flex;
    flex-direction: column;

    &-title {
      width: 100%;
      font-size: 32rpx;
      height: 80rpx;
      line-height: 80rpx;
      text-align: center;
      background: #3A65FF;
      color: #fff;
    }
    &-content {
      flex: 1;
      padding: 20rpx 30rpx;
    }
  }
}

.building-input-content {
  padding: 20rpx 0 0;
  display: flex;
  flex-wrap: wrap;
  &-item {
    position: relative;
    width: 23%;
    height: 60rpx;
    margin: 0 1% 20rpx;
    line-height: 60rpx;
    text-align: center;
    border-radius: 10rpx;
    color: #fff;
    background: #3A65FF;
    .building-input-delete {
      position: absolute;
      top: -4px;
      right: -5px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      text-align: center;
      line-height: 30rpx;
      background: #fff;
    }
  }
  .building-input-content-item:nth-child(4n) {
    margin-right: 0;
  }
}