// 通用
.flex-1 {
  flex: 1;
}

.me-text-beyond {
  /*文本内容超宽度省略号显示 单行*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.building-bottom-line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #333, transparent);
  transform: scaleY(0.5);
}

.status-bar {
  width: 100%;
  background: #3a65ff;
}

.building-title1 {
  font-size: 30rpx;
  font-weight: bold;
}

.building-title2 {
  font-size: 26rpx;
  color: #333;
}

.required {
  padding-left: 10rpx;
  color: red;
  font-size: 24rpx;
}

.no-choose {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 180rpx;
  height: 80rpx;
  line-height: 80rpx;
  text-align: right;
  background: #fff;
  color: #878787;
}

.my-input {
  /* min-width: 240rpx; */
  text-align: right;
  font-size: 28rpx;
  height: 80rpx;
  /* padding-right: 10rpx; */
}

.placeholder {
  color: #878787;
}

.building-date {
	/* min-width: 170rpx; */
	padding: 0;
}

.enter {
	position: absolute;
	top: 12rpx;
	right: 20rpx;
	width: 40rpx;
	height: 40rpx;
	background: url('../../static/building/enter.png') no-repeat center;
	background-size: 40rpx 40rpx;
}
/* 页面容器 */
.building-content {
  box-sizing: border-box;
  height: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.building-bottom {
  box-sizing: border-box;
  padding: 0 20rpx;
  height: 120rpx;
  border-top: 1rpx solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.building-main {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  // margin-bottom: 20rpx;
  overflow: hidden;
  &-side {
    position: relative;
    box-sizing: border-box;
    width: 120rpx;
    height: 100%;
    padding: 20rpx 0 90rpx;
    background: #f5f5f5;
    border-right: 2rpx solid #999;
    &-add {
      position: absolute;
      width: 60rpx;
      height: 60rpx;
      left: 30rpx;
      bottom: 20rpx;
    }
  }
  &-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    &-body {
      flex: 1;
      overflow-y: auto;
      &-container {
        padding: 40rpx 0 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20rpx;
      }
    }
  }
}

.building-box-1 {
  position: relative;
  height: 80rpx;
  padding: 0 20rpx;
  display: flex;
  justify-content: space-between;
}

.building-box-left {
  line-height: 80rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.building-box-right {
  display: flex;
  align-items: center;
}

.building-as-btn {
  // width: 120rpx;
  box-sizing: border-box;
  padding: 0 20rpx;
  height: 60rpx;
  text-align: center;
  line-height: 60rpx;
  color: #fff;
  background: #3a65ff;
  border-radius: 10rpx;
}

.building-default {
  color: #3a65ff;
  background: #fff;
  border: 1px solid #ddd;
  line-height: 58rpx;
  margin-right: 20rpx;
}

.building-item-box {
  box-sizing: border-box;
  position: relative;
  width: 40%;
  height: 200rpx;
  border: 2rpx solid #999;
  background: #fff;
  border-radius: 10rpx;
  margin: 0 0 20rpx 7%;
  &-title {
    box-sizing: border-box;
    padding: 0 10rpx;
    height: 60rpx;
    line-height: 60rpx;
    text-align: center;
    border-bottom: 1rpx solid #999;
  }
}

.building-item-box:nth-child(2n) {
  margin-right: 0;
}

.building-item-ascheck {
  box-sizing: border-box;
  position: absolute;
  bottom: 20rpx;
  right: 20rpx;
  width: 50rpx;
  height: 50rpx;
  border-radius: 25rpx;
  border: 2rpx solid #999;
  line-height: 42rpx;
  text-align: center;
}

.checked {
  border: 2rpx solid #3a65ff;
  font-weight: bold;
}

// 表单项
.building-body {
  box-sizing: border-box;
  padding: 30rpx 0 0;
  margin-bottom: 20rpx;
  flex: 1;
  overflow: hidden;
}

.building-input-box,
.building-body-box {
  box-sizing: border-box;
  width: 94%;
  padding: 10rpx 20rpx;
  margin: 0 auto 30rpx;
  background: #fff;
  border-radius: 12rpx;
  box-shadow: 0 2rpx 10rpx 0 rgba(0, 0, 0, 0.2);
}
.building-body-item,
.building-input-item {
  position: relative;
  height: 80rpx;
  line-height: 80rpx;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-name {
    font-weight: bold;
  }
  &-icon {
    width: 120rpx;
    height: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.building-input-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #999, transparent);
  transform: scaleY(0.5);
}

.building-input-item:last-child::after {
  height: 0;
}

.building-picker-btn {
  min-width: 240rpx;
  text-align: right;
}

.map-box {
  box-sizing: border-box;
  height: 400rpx;
  padding: 10rpx 0;
}

.textarea-box {
  box-sizing: border-box;
  height: 280rpx;
  margin-top: 10rpx;
}

.building-remark {
  box-sizing: border-box;
  padding: 20rpx;
  height: 100%;
  border-radius: 10rpx;
  background: #f5f5f5;
  font-size: 28rpx;
  width: 100%;
}

.building-btn-box {
  position: fixed;
  width: 100%;
  height: 100rpx;
  left: 0;
  bottom: 0;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.building-btn {
  width: 90%;
  height: 80rpx;
  text-align: center;
  line-height: 80rpx;
  color: #fff;
  font-size: 32rpx;
  background: #3a65ff;
  border-radius: 10rpx;
}

// 模态
.building-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  &-box {
    box-sizing: border-box;
    width: 80%;
    max-height: 60%;
    overflow-y: hidden;
    background: #fff;
    border-radius: 10rpx;
    display: flex;
    flex-direction: column;

    &-title {
      width: 100%;
      font-size: 32rpx;
      height: 80rpx;
      line-height: 80rpx;
      text-align: center;
      background: #3a65ff;
      color: #fff;
    }
    &-content {
      flex: 1;
      padding: 20rpx 30rpx;
    }
  }
}

.building-input-content {
  padding: 20rpx 0 0;
  display: flex;
  flex-wrap: wrap;
  &-item {
    position: relative;
    width: 23%;
    height: 60rpx;
    margin: 0 1% 20rpx;
    line-height: 60rpx;
    text-align: center;
    border-radius: 10rpx;
    color: #fff;
    background: #3a65ff;
    .building-input-delete {
      position: absolute;
      top: -4px;
      right: -5px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      text-align: center;
      line-height: 30rpx;
      background: #fff;
    }
  }
  .building-input-content-item:nth-child(4n) {
    margin-right: 0;
  }
}

// 物料类别
.search-box {
  height: 90rpx;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .search-input-box {
    position: relative;
    box-sizing: border-box;
    width: 94%;
    height: 68rpx;
    padding: 0 20rpx;
    background: #fff;
    border: 1rpx solid #999;
    border-radius: 34rpx;
    font-size: 28rpx;
    color: #7f7f7f;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-input {
    width: 100%;
    font-size: 28rpx;
    padding-left: 50rpx;
    background: url("../../static/building/search.png") no-repeat;
    background-position: 0 center;
    background-size: contain;
  }
}

.building-body-title {
  padding: 0 30rpx;
  margin-bottom: 20rpx;
}

// 场区申请审核
.building-tab-box {
  width: 90%;
  height: 90rpx;
  margin: 0 auto 30rpx;
  border-radius: 45rpx;
  background: #3a65ff;
  color: #fff;
  font-size: 28rpx;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.building-tab-item {
  box-sizing: border-box;
  padding: 0 20rpx;
  width: 33%;
  line-height: 90rpx;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-active {
  background: #3356d6;
}

.building-card-title {
  font-size: 32rpx;
}

.building-card-title::before {
  content: "";
  position: absolute;
  width: 10rpx;
  height: 40rpx;
  top: 20rpx;
  left: -20rpx;
  background: #3a65ff;
  border-radius: 5rpx;
}

.building-body-floor {
  padding: 0 0 10rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-item {
    max-width: 33%;
    .building-name {
      font-size: 24rpx;
      margin-bottom: 6rpx;
    }
    .building-value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 30rpx;
      font-weight: bold;
      span {
        padding-left: 10rpx;
      }
    }
  }
}


.building-cancel {
  background: #fff;
  border: 1rpx solid #ddd;
  color: #333;
  // margin-right: 20rpx;
}

.building-danger {
  background: red;
  color: #fff;
  // margin-right: 20rpx;
}

.building-primary {
  background: #3a65ff;
  color: #fff;
  flex: 1;
  
}