/* ============================================================
   ly-flex：定义布局为盒模型
   ly-flex-v：盒模型垂直布局
   ly-flex-1：子元素占据剩余的空间
   ly-flex-align-center：子元素垂直居中
   ly-flex-pack-center：子元素水平居中
   ly-flex-pack-start: 子元素水平靠左
   ly-flex-pack-end: 子元素水平靠右
   ly-flex-pack-justify：子元素两端对齐
   ly-flex-pack-around：子元素两端对齐
   使用注意：1.flex下的子元素须为块级元素
            2.flex下的子元素宽度和高度不能超过父元素，否则会导致子元素定位错误，例如水平垂直居中
   ============================================================ */
   .ly-flex,
   .ly-flex-v,
   .ly-flex-align-center,
   .ly-flex-pack-center,
   .ly-flex-pack-start,
   .ly-flex-pack-end,
   .ly-flex-pack-justify,
   .ly-flex-pack-around
   {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
   .ly-flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
   .ly-flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
   .ly-flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
   .ly-flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
   .ly-flex-pack-start{-webkit-box-pack:start;-webkit-justify-content:start;-ms-flex-pack:start;justify-content:start;}
   .ly-flex-pack-end{-webkit-box-pack:end;-webkit-justify-content:end;-ms-flex-pack:end;justify-content:end;}
   .ly-flex-pack-justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
   .ly-flex-pack-around{-webkit-box-pack:around;-webkit-justify-content:space-around;-ms-flex-pack:around;justify-content:space-around;}
   .ly-flex-w{ flex-wrap: wrap; }