/*表单卡片css*/
.ly-form-card{
	margin: 24upx;
	background: #FFFFFF;
	border-radius: 20upx;
	padding: 0 30upx;
	.uni-forms-item.border-bottom{
		border-bottom: 1upx solid #EBEBEB;
	}
	.uni-forms-item__inner{
		padding: 20upx 0 !important;
	}
	.label-text{
		font-size: 32upx !important;
		font-family: PingFang SC;
		font-weight: bold;
	}
	.is-required{
		font-size: 30upx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #E51F39;
		padding-left: 10upx;
		margin-top: 6upx;
	}
	.uni-input-form, .uni-input-wrapper{
		text-align: right;
	}
	.uni-input-placeholder, .picker-placeholder{
		font-size: 28upx;
		font-family: PingFang SC;
		// font-weight: 500;
		color: #999999;
	}
	.uni-input-input, .picker-input{
		font-size: 28upx;
		font-family: PingFang SC;
	}
	.uni-easyinput__content-input{
		padding: 0 !important;
	}
	.picker-input, .picker-placeholder{
		height: 72upx;
		line-height: 72upx;
	}
	.upload-msg{
		font-size: 24upx;
		font-family: PingFang SC;
		font-weight: 400;
		color: #979899;
		margin-bottom: 38upx;
		margin-top: -6upx;
	}
	.icon-check{
		width: 50upx;
		height: 50upx;
		margin: 10upx 0 0;
		padding: 6upx;
		&.disabled{
			opacity: 0.6;
		}
	}
	.uni-error-message{
		width: 100%;
		text-align: right !important;
	}
	.uni-easyinput__content.is-disabled{
		background: transparent !important;
		border-color: transparent !important;
		.uni-input-input{
			color: #999999;
		}
	}
	.uni-input-input[disabled=disabled], uni-picker[disabled=true] .picker-input{
		color: #999999;
	}
	.mb20{
		margin-bottom: 20upx;
	}
}

/*表单按钮css*/
.ly-form-button{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 24upx 24upx 24upx;
	border-top: 1px solid #f0f0f0;
	background: #fff;
	.reset, .submit{
		height: 80upx;
		line-height: 76upx;
		border-radius: 10upx;
		text-align: center;
		font-size: 32upx;
		font-family: PingFang SC;
		font-weight: bold;
	}
	.reset{
		width: 32%;
		background: #FFFFFF; 
		border: 1upx solid #C9C9C9;
		color: #878787;
	}
	.submit{
		width: 65%;
		background: #3A65FF;
		border: 1upx solid #3A65FF;
		color: #fff;
	}
}