.no-data {
  width: 438rpx;
  height: 40rpx;
  margin: 0 auto;
  background: url("../../static/has_none.png") no-repeat center;
  background-size: 100% 272rpx;
  background-position: center top;
  padding-top: 272rpx;
  text-align: center;
  color: #999;
}

.manage-line {
  box-sizing: border-box;
  height: 90rpx;
  background: #fff;
  padding: 0 30rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-top: 1rpx solid #c8c7cc;
}

.manage-title0 {
  font-size: 24rpx;
  font-weight: bold;
  color: #333;
}

.manage-title1 {
  font-size: 28rpx;
  color: #333;
}

.manage-title2 {
  font-size: 28rpx;
  color: #333;
  font-weight: bold;
}

.manage-title3 {
  font-size: 32rpx;
  font-weight: bold;
  color: #333;
}

.manage-title4 {
  font-size: 24rpx;
  color: #878787;
}

.manage-title5 {
  font-size: 20rpx;
  color: #b3b3b3;
}

.manage-ml {
  margin-left: 20rpx;
}

.manage-delete {
  color: red;
}

.manage-total {
  font-size: 28rpx;
  font-weight: bold;
  color: #333;
  padding: 0 10rpx;
}

.manage-btn1 {
  padding: 0 30rpx;
  height: 66rpx;
  text-align: center;
  line-height: 66rpx;
  background: #3a65ff;
  color: #fff;
  font-size: 28rpx;
  font-weight: bold;
  border-radius: 10rpx;
}

.point {
  width: 8rpx;
  height: 8rpx;
  background: #3a65ff;
  border-radius: 50%;
}

.require {
  color: red;
}

.manage-input {
  font-size: 28rpx;
}

.manage-splite-line {
  height: 2rpx;
  background-image: linear-gradient(to bottom, #ddd, transparent);
  transform: scaleY(0.5);
}

.switch-box {
  position: relative;
  display: flex;
  align-items: center;
  > span {
    padding-right: 10rpx;
  }
}

.switch-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.manage-subtitle {
  display: flex;
  align-items: center;
  font-size: 20rpx;
  color: #999;
}

// 模态
.manage-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 101;
}

/* 页面容器 */
.manage-content {
  box-sizing: border-box;
  height: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.manage-header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 551rpx;
  padding: 20rpx 60rpx;
  background: linear-gradient(180deg, #3a65ff 0%, rgba(58, 101, 255, 0) 100%);
  &-title {
    color: #fff;
    &-line1 {
      font-size: 36rpx;
      font-weight: bold;
    }
    &-line2 {
      font-size: 28rpx;
      opacity: 0.64;
    }
  }
  &-img {
    position: absolute;
    top: 0;
    right: 40rpx;
    width: 224rpx;
    height: 180rpx;
    background: url("../../static/manage/header-right.png") no-repeat center;
    background-size: 100% 100%;
  }
}

.manage-expand {
  box-sizing: border-box;
  padding: 0 30rpx 30rpx;
  margin-bottom: 30rpx;
  // height: 200rpx;
  background: #ffffff;
  &-splite {
    position: relative;
    width: 20rpx;
    height: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10rpx;
    color: #333;
    font-weight: bold;
  }
  &-splite::before {
    content: '';
    position: absolute;
    width: 310rpx;
    height: 1rpx;
    background-image: linear-gradient(to bottom, #f0f0f0,transparent);
    top: 50%;
    right: 40rpx;
  }
  &-splite::after {
    content: '';
    position: absolute;
    width: 310rpx;
    height: 1rpx;
    background-image: linear-gradient(to bottom, #f0f0f0,transparent);
    top: 50%;
    left: 40rpx;
  }
  &-line {
    box-sizing: border-box;
    height: 66rpx;
    font-size: 24rpx;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &-line-bg {
    box-sizing: border-box;
    padding: 0 20rpx;
    height: 66rpx;
    font-size: 32rpx;
    color: #2F3034;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F7F7F7;
    border-radius: 8rpx;
  }
  &-curdate {
    color: #999;
    font-weight: 400;
    padding-right: 20rpx;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-value {
      font-weight: bold;
      padding-left: 10rpx;
    }
  }
}

.calendar-box {
  height: 0;
  transition: height .25s linear;
}

.expand {
  height: 800rpx;
}

.manage-main {
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
}

.manage-tabBar {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 120rpx;
  background: #ffffff;
  border-top: 1rpx solid #c8c7cc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #333;
  &-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 48rpx;
      height: 48rpx;
    }
    // &-icon {
    //   text-align: center;
    //   width: 40rpx;
    //   height: 40rpx;

    // }
    &-name {
      text-align: center;
    }
  }
}

.manage-active-item {
  color: #3a65ff;
}
// 工作台组件
// .components-main {
//   box-sizing: border-box;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
// }

.components-main {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.manage-tab-box {
  position: relative;
  height: 80rpx;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.manage-tab-slider {
  position: absolute;
  width: 100rpx;
  height: 4rpx;
  bottom: 0;
  background: #3a65ff;
  border-radius: 2rpx;
  transition: left 0.15s linear;
}

.manage-slider0 {
  left: 40rpx;
}

.manage-slider1 {
  left: 220rpx;
}

.manage-slider2 {
  left: 400rpx;
}

.manage-tab {
  position: relative;
  width: 180rpx;
  height: 60rpx;
  text-align: center;
  line-height: 60rpx;
  color: rgba(51, 51, 51, 0.5);
  font-size: 28rpx;
  font-weight: bold;
}

.manage-tab-active {
  color: #3a65ff;
  font-size: 32rpx;
}

.manage-box {
  position: relative;
  box-sizing: border-box;
  width: 92%;
  // height: 420rpx;
  padding: 10rpx 20rpx;
  margin: 0 auto 30rpx;
  background: #fff;
  border-radius: 12rpx;
  box-shadow: 0 2rpx 10rpx 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  &-title {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96rpx;
    margin: -10rpx -20rpx 0;
    padding: 0 20rpx;
    background: linear-gradient(
      90deg,
      rgba(58, 101, 255, 0.12) 0%,
      rgba(58, 101, 255, 0) 99%
    );
  }
  &-line {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100rpx;
    border-bottom: 1rpx solid #ebebeb;
  }
  &-line:last-child {
    border-bottom: none;
  }
  &-area {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      box-sizing: border-box;
      width: 294rpx;
      height: 48rpx;
      background: #f5f5f5;
      border-radius: 24rpx;
      padding: 0 10rpx 0 16rpx;
      margin-bottom: 20rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.manage-number-box {
  display: flex;
  align-items: center;
  // width: 164rpx;
}

.manage-number-minus {
  width: 36rpx;
  height: 36rpx;
  border: 1rpx solid #3a65ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  > span {
    width: 20rpx;
    height: 4rpx;
    background: #3a65ff;
    border-radius: 2rpx;
  }
}

.manage-number-text {
  font-size: 32rpx;
  font-weight: bold;
  color: #333;
  margin: 0 20rpx;
}

.manage-input-box {
  box-sizing: border-box;
  flex: 1;
  padding-left: 20rpx;
  text-align: right;
}

.manage-btn-box {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100rpx;
  left: 0;
  bottom: 0;
  padding: 0 30rpx;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.manage-btn {
  box-sizing: border-box;
  width: 48%;
  height: 80rpx;
  text-align: center;
  line-height: 80rpx;
  color: #fff;
  font-size: 30rpx;
  font-weight: bold;
  background: #3a65ff;
  border-radius: 10rpx;
}

.manage-btn-cancel {
  background: #ffffff;
  border: 1rpx solid #3a65ff;
  color: #3a65ff;
}

.manage-delete-box {
  width: 198rpx;
  height: 60rpx;
  background: rgba(249, 87, 87, 0.08);
  border: 2rpx solid #f95757;
  border-radius: 30rpx;
  font-size: 28rpx;
  font-weight: bold;
  color: #f95757;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    padding-left: 10rpx;
  }
}

.add-time {
  width: 659rpx;
  height: 80rpx;
  margin: 0 auto 20rpx;
  text-align: center;
  line-height: 78rpx;
  border: 1rpx dotted #3a65ff;
  border-radius: 10rpx;
  font-size: 28rpx;
  color: #3a65ff;
  font-weight: bold;
}



.qrcode-box {
  position: fixed;
}