.no-data {
  width: 438rpx;
  height:40rpx;
  margin: 0 auto;
  background: url('../../static/has_none.png') no-repeat center;
  background-size: 100% 272rpx;
  background-position: center top;
  padding-top: 272rpx;
  text-align: center;
  color: #999;
}

.manage-line {
  box-sizing: border-box;
  height: 90rpx;
  background: #fff;
  padding: 0 30rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-top: 1rpx solid #c8c7cc;
}

.manage-title1 {
  font-size: 28rpx;
  color: #333;
}

.manage-btn1 {
  padding: 0 20rpx;
  height: 64rpx;
  text-align: center;
  line-height: 64rpx;
  background: #3a65ff;
  color: #fff;
  font-size: 28rpx;
  border-radius: 12rpx;
}

/* 页面容器 */
.manage-content {
  box-sizing: border-box;
  height: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.manage-main {
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
}

.manage-tabBar {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 120rpx;
  background: #ffffff;
  border-top: 1rpx solid #c8c7cc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #333;
  &-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 40rpx;
      height: 40rpx;
    }
    // &-icon {
    //   text-align: center;
    //   width: 40rpx;
    //   height: 40rpx;
     
    // }
    &-name {
      text-align: center;
    }
  }
}

.manage-active-item {
  color: #3a65ff;
}
// 工作台组件
// .components-main {
//   box-sizing: border-box;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
// }

.components-main {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.manage-tab-box {
  position: relative;
  height: 80rpx;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.manage-tab-slider {
  position: absolute;
  width: 100rpx;
  height: 4rpx;
  bottom: 0;
  background: #3a65ff;
  border-radius: 2rpx;
  transition: left .15s linear;
}

.manage-slider0 {
  left: 40rpx;
}

.manage-slider1 {
  left: 220rpx;
}

.manage-slider2 {
  left: 400rpx;
}

.manage-tab {
  position: relative;
  width: 180rpx;
  height: 60rpx;
  text-align: center;
  line-height: 60rpx;
}



.manage-tab-active {
  color: #3a65ff;
}

.manage-box {
  position: relative;
  box-sizing: border-box;
  width: 92%;
  height: 420rpx;
  padding: 10rpx 20rpx;
  margin: 0 auto 30rpx;
  background: #fff;
  border-radius: 12rpx;
  box-shadow: 0 2rpx 10rpx 0 rgba(0, 0, 0, 0.2);

}